<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand" href="#">BTS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
    data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon">BTS</span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item"><a class="nav-link" href="#" routerLink="/" routerLinkActive="router-link-active" >Create</a>
      </li>
      <li class="nav-item"><a class="nav-link" href="#" >Update
          </a></li>
     <li class="nav-item"><a class="nav-link" href="#" routerLink="/search" routerLinkActive="router-link-active">Search
          </a></li>
      <li class="nav-item"><a class="nav-link" href="#" routerLink="/get-bug" routerLinkActive="router-link-active">View
          </a></li>
    </ul>
  </div>
</nav>
