<table class="table table-striped">
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Priority</th>
    <th>Type</th>
    <th>Build Version</th>
    <th>Synopsis</th>
    <th>Status</th>
  </tr>
  <tbody id="resultTable">
    <tr *ngFor='let user1 of bugArray; '>
      <td>{{user1.id}}</td>
      <td>{{user1.name}}</td>
      <td>{{user1.priority}}</td>
      <td>{{user1.type}}</td>
      <td>{{user1.buildVersion}}</td>
      <td>{{user1.synopsis}}</td>
      <td>{{user1.status}}</td>


  </tbody>
</table>
