<br>
<div class="form-group row searchForm">
  <br>
  <form id="bugSearchForm" class="col-sm-9 row">
    <label for="bugName" class="col-sm-4 bugLabel">Bug Name<span>*</span></label>
    <input  [(ngModel)]='name'  type="text" class="form-control"
    placeholder="Name" name="Name" required>
  </form>
  <button type="button" id="searchBug" class="btn btn-primary col-sm-3 searchButton" (click)="getBugName()">Get Bug</button>
</div>
<div>
<div>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label class="control-label col-sm-3  col-md-offset-4" for="Name">Name<span>*</span></label>
          <div class="col-sm-9">
            <input  [(ngModel)]='bug.name'  type="text" class="form-control"
            placeholder="Name" name="Name" required>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-3  col-md-offset-4" for="pwd">Priority</label>
          <div class="col-sm-9">
            <select  [(ngModel)]='bug.priority' placeholder='Priority' type="text" class="form-control">
              <option value="LOW">LOW</option>
              <option value="MEDIUM">MEDIUM</option>
              <option value="HIGH">HIGH</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-3  col-md-offset-4 " for="pwd">Type</label>
          <div class="col-sm-9">
            <select [(ngModel)]='bug.type' type="text" class="form-control" >
              <option value="UNITLEVEL">UNIT-LEVEL</option>
              <option value="SYSTEMLEVEL">SYSTEM-LEVEL</option>
              <option value="OUTOFBOUND">OUT OF BOUND</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-3  col-md-offset-4 ">ETA
            Date<span>*</span>
          </label>
          <div class="col-sm-9">
            <input type='date' [(ngModel)]='bug.etaDate'  class="form-control" >
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-3 col-md-offset-4" >Module<span>*</span></label>
          <div class="col-sm-9">
            <input [(ngModel)]='bug.module' type='text'
              placeholder="Module" name="module" required type="text" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-3 col-md-offset-4" for="pwd">Version</label>
          <div class="col-sm-9">
            <input  [(ngModel)]='bug.buildVersion'type='text' class="form-control"
              placeholder="Build Version" name="buildVersion">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-3 col-md-offset-4" for="pwd">Description<span>*</span></label>
          <div class="col-sm-9">
            <textarea [(ngModel)]='bug.synopsis' id='synopsis' class="form-control" name="synopsis" rows="2" placeholder="Synopsis should be between 10 and 50 characters" required></textarea>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label class="control-label col-sm-3 col-md-offset-2" for="pwd">Severity</label>
          <div class="col-sm-9">
            <select [(ngModel)]='bug.severity'  class="form-control">
              <option value="LOW">LOW</option>
              <option value="MEDIUM">MEDIUM</option>
              <option value="HIGH">HIGH</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-3 col-md-offset-2">Project
            Id<span>*</span>
          </label>
          <div class="col-sm-9">
            <input  [(ngModel)]='bug.projectId'  type="text" class="form-control"
              placeholder="Project Id" name="projectId" required>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-3 col-md-offset-2">Tester
            Id<span>*</span>
          </label>
          <div class="col-sm-9">
            <input  [(ngModel)]='bug.testerId'  type="text" class="form-control"
              placeholder="Tester Id" name="testerId" required>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-3 col-md-offset-2" for="pwd">Status</label>
          <div class="col-sm-9">
            <select [(ngModel)]='bug.status'  class="form-control">

              <option value="NEW">New</option>
              <option value="ASSIGNED">Assigned</option>
              <option value="OPEN">Open</option>
              <option value="FIXED">Fixed</option>
              <option value="PENDING_RETEST">Pending Retest</option>
              <option value="RETEST">Retest</option>
              <option value="REOPEN">Reopen</option>
              <option value="VERIFIED">Verified</option>
              <option value="CLOSED">Closed</option>
              <option value="REJECTED">Rejected</option>
              <option value="DUPLICATE">Duplicate</option>
              <option value="DEFERRED">Deferred</option>
              <option value="NOT_A_BUG">Not A Bug</option>
              <option value="NEED_MORE_INFO">Need More Info</option>
              <option value="COULDNOT_REPRODUCE">Could Not Reproduce</option>
              <option value="WONT_FIX">Wont Fix</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-3 col-md-offset-2" for="pwd">Developer ID<span>*</span></label>
          <div class="col-sm-9">
            <input  [(ngModel)]='bug.developerID'  type="text" class="form-control"
              placeholder="Developer ID" name="DeveloperID">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-3 col-md-offset-2" for="pwd">Synopsis<span>*</span></label>
          <div class="col-sm-9">
            <textarea [(ngModel)]='bug.synopsis' id='synopsis' class="form-control" name="synopsis" rows="2" placeholder="Synopsis should be between 10 and 50 characters" required></textarea>
      </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-3 col-md-offset-2">Product<span>*</span></label>
          <div class="col-sm-9">
            <input  [(ngModel)]='bug.product' type="text" class="form-control"
              placeholder="Product" name="product" required>
          </div>
        </div>
</div>
    </div>
  </div>
<button (click)='update()' class="btn btn-primary btn-block">Save</button>

