h2{
  text-align: center;
  margin: 10px 0;
}
table{
  margin-top: 30px;
}
.formContainer{
  width: 80%;
  margin: 0px auto;
  margin-top: 50px;
}
label{
  align-self: center;
  margin-right: -20px;
}
button{
  margin-left: -50px;
}
th, td ,thead{
  border: 1px solid black;
}

table {
	margin-top: 50px;
}
